@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=MedievalSharp&display=swap');

:root {
    --title-font: "MedievalSharp", cursive;
    --text-font: "IM Fell English", serif;
    --background: #3a3a3a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Start Page and general Designs */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/background/background-three.webp") no-repeat center center / cover;

}

.title-font {
    font-family: var(--title-font);
}

.text-font {
    font-family: var(--text-font);
}

button {
    font-size: 1rem;
    background-color: var(--background);
    color: #d4d4d4;
    border: 2px solid #2b2b2b;
    border-radius: 5px;
    padding: 0.125rem 1.25rem;
    text-shadow: 1px 1px 2px #000;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

button:hover {
    background-color: #4a4e44;
    color: #e5e5e5;
    border-color: #67a667;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.8);
    background-color: #2e2e2e;
}

.outer-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 31.25rem;
    height: 31.25rem;
    border: 1px solid black;
    background-color: #f5f5dcf2;
    padding: 0 0 1.25rem 0;
}

.title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 20%;
    font-family: var(--title-font);
    padding: 0.75rem 0;
}

#middle-item {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

#information-icon {
    font-size: 1.5rem;
}

#info-button {
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#info-button i {
    font-size: 1.5rem;
    color: inherit;
}

#info-button:focus {
    outline: none;
}

#info-button:hover i {
    color: #ccc;
}

/* Start Items */
#player-name-input,
#start-button {
    margin: 0.125rem;
}

/* Middle Section pure html elements */
.display-box {
    position: relative;
    padding: 0.625rem;
}

.display-box-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 90%;
    height: 60%;
}

.display-box-flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 90%;
    height: 60%;
    gap: 1.5rem;
}

/* Button Display Section */
/* Button Box Flex direction and general styling */
.button-box-flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid black;
    width: 90%;
    height: 25%;

}

.button-box-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid black;
    width: 90%;
    height: 25%;

}

.button-box {
    padding: 0.3rem;
}

/* Display Section with JavaScript*/
/* general */
.close-button {
    background-color: red;
    color: white;
    border: none;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
}

.close-button:hover {
    background-color: darkred;
}

.player-menu-display,
.tutorial-window {
    width: 90%;
    height: 90%;
    padding: 1.25rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.625rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .player-menu-display {
    overflow: scroll;
} */

.player-menu-item-display {
    justify-content: space-between;
    padding: 1.25rem 1.25rem 0.313rem 1.25rem;
}

/* tutorial */
.tutorial-window {
    justify-content: space-evenly;
}

.next-slide-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.next-slide-button {
    min-width: 2.4rem;
    min-height: 2.4rem;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 50%;
    padding: 0;
}

/* reset */
.confirm-window {
    width: 80%;
    height: 80%;
    padding: 1.25rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-reset-button,
.yes-reset-button {
    width: 60%;
}

/* fighting-sequenz */
.fight-sequenz-display {
    width: 80%;
    height: 80%;
    border: 1px solid black;
}

.monster-image {
    width: 80%;
    height: 80%;
    border-radius: 5%;
}

/* Player Menu */
/* inside Player Menu */
.player-menu-display-option {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    gap: 0.8rem;
}

/* The button that opens with the menu-window */
.player-inner-menu-button {
    font-size: 0.5rem;
}

.player-menu-item {
    font-size: 1rem;
}

.player-menu-item {
    position: relative;
    cursor: pointer;
}

.player-menu-item::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 140%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--background);
    color: white;
    padding: 0.313rem;
    border-radius: 4px;
    font-size: 1rem;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    z-index: 10;
}

.player-menu-item:hover::after {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(-5px);
}

.player-menu-button {
    width: 5rem;
    height: 3.5rem;
    padding: 0.313rem;
    text-align: center;
}

/* fighting menu */
.fighting-styles-container {
    width: 100%;
    font-size: 0.7rem;
}

.fighting-styles-divs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.active-fighting-style-display {
    background-color: orange;
}

/* Attributes menu */
.stats-list {
    list-style-type: none;
}

/* Item menu */
.equipped-item-box {
    width: 100%;
    border: 2px white solid;
    height: 40%
}

/* Reward Buttons */
.reward-button {
    width: 6rem;
    padding: 5px;
    text-align: center;
}


/* Class display */
.class-display-option,
.reward-display-option {
    height: 90%;
    background-color: var(--background);
    border: solid 0.5px black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0.625rem 0 0 0;
    margin: 0.625rem;
}

.class-item-box {
    height: 90%;
    display: flex;
}

/* class Images */
.class-image,
.reward-image {
    width: 80%;
    border-radius: 10%;
}

.class-title,
.reward-title {
    color: #d4d4d4;
    padding: 0.438rem 0;
}

/* Reward Section */
.reward-title {
    font-size: 0.7rem;
}

.class-description,
.reward-description {
    font-size: 0.8rem;
    color: #d4d4d4;
    text-align: center;
    padding: 0.438rem 0;
}

.reward-description {
    overflow-y: scroll;
}

/* Scrollbar */
/* Für Webkit-Browser (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 0.2rem;
    /* Breite der Scrollbar */

}

::-webkit-scrollbar-thumb {
    background: #888;
    /* Farbe des Scrollbalkens */
    border-radius: 10px;
    /* Abgerundete Ecken */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Farbe beim Hover */
}

::-webkit-scrollbar-track {
    background: var(--background);
    /* Hintergrund der Scrollbar */
    border-radius: 10px;
    /* Abgerundete Ecken */
}


.event-display,
.display-box,
#player-name-input,
.button-box,
.upper-section,
button {
    font-family: var(--text-font);
}

/* Hide Items */
.hidden {
    display: none;
}

.disabled {
    cursor: not-allowed;
    color: gray;
}

@media only screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 0;
        background: url("../images/background/background-three.webp") no-repeat center center / cover;
    }

    .outer-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
        height: 95vh;
        padding: 1rem;
        background-color: rgba(245, 245, 220, 0.95);
        border-radius: 15px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
        margin: auto;
        /* Damit es wirklich in der Mitte bleibt */
    }

    .title-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 1rem;
        padding: 0.5rem 0;
    }

    #middle-item {
        flex-grow: 1;
        text-align: center;
    }

    .display-box {
        width: 100%;
        padding: 1rem;
        text-align: center;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        margin-bottom: 1rem;
    }

    .display-box-flex-column {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .button-box {
        display: flex;
        justify-content: space-evenly;
        /* Buttons nebeneinander */
        width: 100%;
        padding: 1rem;
    }

    .button-box>h2 {
        font-size: 1.2rem;
        margin-bottom: 1px;
    }

    .reward-display-option,
    .class-display-option {
        width: 30%;
        /* Einheitliche Breite */
        height: auto;
        max-height: 220px;
        padding: 1rem;
        background-color: rgba(58, 58, 58, 0.9);
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        text-align: center;
        color: #d4d4d4;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .start-item+button {
        padding: 0.2rem 1rem
    }

    .reward-image,
    .class-image {
        width: 100%;
        height: auto;
        max-width: 100px;
        /* Einheitliche Größe */
        border-radius: 10px;
        margin-bottom: 1rem;
    }

    button {
        font-size: 1rem;
        padding: 0.6rem 1.2rem;
        border-radius: 8px;
    }

    #player-name-input {
        width: 100%;
        max-width: 300px;
        font-size: 0.8rem;
        padding: 0.4rem;
        border-radius: 6px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    h1,
    h2,
    h3 {
        margin: 0.3rem 0;
        text-align: center;
    }

    h1 {
        font-size: 1.8rem;
        line-height: 1.2;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.1rem;
    }
}