@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&family=MedievalSharp&display=swap');

:root {
    --title-font: "MedievalSharp", cursive;
    --text-font: "IM Fell English", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

/* Upper Title Section */
.title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    font-family: var(--title-font);

}

/* Middle Display Section */
.confirm-window {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display-box {
    position: relative;
    /* Damit das absolute Fenster relativ zu diesem Container positioniert wird */
}

.display-box-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 90%;
    height: 60%;
}

.display-box-flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 90%;
    height: 60%;
    gap: 1.5rem;
}

.player-menu-display {
    width: 80%;
    height: 80%;
    max-width: 400px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Reward options display */
.reward-display-option {
    width: 25%;
    height: 70%;
    border: 1px solid black;

}

/* Fighting Sequenz Display */
.fight-sequenz-display {
    width: 80%;
    height: 80%;
    border: 1px solid black;
}

/* Button Display Section */
/* Button Box Flex direction and general styling */
.button-box-flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid black;
    width: 90%;
    height: 25%;

}

.button-box-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid black;
    width: 90%;
    height: 25%;

}

/* Start Items */
#player-name-input,
#start-button {
    margin: 2px;
}

/* Reward Buttons */
.reward-button,
.player-menu-button {
    width: 4rem;
    padding: 5px;
    text-align: center;
}


/* General styling */
.title-font {
    font-family: var(--title-font);
}

.text-font {
    font-family: var(--text-font);
}

.event-display,
.display-box,
#player-name-input,
.button-box,
.upper-section,
button {
    font-family: var(--text-font);
}

.hidden {
    display: none;
}

.disabled {
    cursor: not-allowed;
    color: gray;
}

@media (max-width: 600px) {
    .outer-box {
        width: 100%;
        height: 100%;
    }
}